/* 
These are the basic styles used in most of the exercieses here.
These are used to recreate the effects from using deprecrated attributes on elements (eg. `border` on `table`)
 */

table {
    border-width: 2px;
    border-style: solid;
    border-inline-start-color: #808080;
    border-block-start-color: #808080;
    border-inline-end-color: #2c2c2c;
    border-block-end-color: #2c2c2c;
}

th,
td {
    border-width: 1px;
    border-style: solid;
    border-inline-start-color: #2c2c2c;
    border-block-start-color: #2c2c2c;
    border-inline-end-color: #808080;
    border-block-end-color: #808080;
}

th {
    font-weight: bold;
}